<template>
    <div class="container">
        <div class="row justify-content-center" v-if="$gate.isAdminOrAuthor()">
           <div class="col-12" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Book  Lists</h3>
                <div class="cart-tools" align="right">
                  <button class="btn btn-success" @click="newModel"> Add New Book <i class="fas fa-user-plus" fa-fw></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div  class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Book Name</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="book in books.data" :key="book.id"> 
                      <td>{{book.id}}</td>
                      <td>{{book.name | upText}}</td>
                      <td>{{book.price}}</td>

                      <td>
                        <a  @click="editModel(book)">
                          <i class="fa fa-edit blue"  style="font-size:20px; color:#20ab70"></i>
                        </a>
                        
                        <a  @click="deleteBook(book.id)">
                          <i class="fa fa-trash red" style="font-size:20px; color:#ab202f"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="cart-footer">
                <pagination :data="books" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
    <!-- Modal -->
              <div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="addnewlabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" v-show="!editmode" id="addnewlabel">Add New Book </h5>
                       <h5 class="modal-title" v-show="editmode" id="addnewlabel">Update Book </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                      <form @submit.prevent="editmode ? updateBook(): createBook()">

                    <div class="modal-body">
                      <div class="row">
                        <div class="col-lg-6" >
                       <div class="form-group">
                          <label style="text-transform:uppercase"> Category</label>
                           <select class="form-control" v-model="form.category_id" name="category_id">
                              <option disabled :selected="true">--Select Category--</option>
                              <option v-for="category in categories.data" :key="category.id" :value="category.id">{{ category.category_name }}</option>
                            </select>
                        <has-error :form="form" field="sub_category_id"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Sub Category</label>
                             <select class="form-control" v-model="form.sub_category_id" name="sub_category_id">
                              <option disabled :selected="true">--Select Sub Category--</option>
                              <option v-for="subCategory in subCategories.data" :key="subCategory.id" :value="subCategory.id">{{ subCategory.name }}</option>
                            </select>
                        <has-error :form="form" field="sub_category_id"></has-error>
                        </div>
                          <div class="form-group">
                          <label style="text-transform:uppercase">Book Name</label>
                            <input v-model="form.name" type="text" name="name"
                            placeholder="Enter a book Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Author Name</label>
                            <input v-model="form.author_name" type="text" name="author_name"
                            placeholder="Enter a Author Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('author_name') }">
                        <has-error :form="form" field="author_name"></has-error>
                        </div>
                         <div class="form-group">
                          <label style="text-transform:uppercase">Publication Name</label>
                            <input v-model="form.publication_name" type="text" name="publication_name"
                            placeholder="Enter a Publication Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('publication_name') }">
                        <has-error :form="form" field="publication_name"></has-error>
                        </div>
                        </div>
                        <div class="col-lg-6" >
                         <div class="form-group">
                          <label style="text-transform:uppercase">Published Date</label>
                            <input v-model="form.published_date" type="date" name="published_date"
                            placeholder="Enter a Published Date"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('published_date') }">
                        <has-error :form="form" field="published_date"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Price </label>
                            <input v-model="form.price" type="number" name="price"
                            placeholder="Enter a Price "
                            class="form-control" :class="{ 'is-invalid': form.errors.has('price') }">
                        <has-error :form="form" field="price"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Currency </label>
                            <input v-model="form.currency" type="text" name="currency"
                            placeholder="Enter a Currency "
                            class="form-control" :class="{ 'is-invalid': form.errors.has('currency') }">
                        <has-error :form="form" field="currency"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Number of Pices </label>
                            <input v-model="form.number_of_pices" type="number" name="number_of_pices"
                            placeholder="Enter a Number of Pices "
                            class="form-control" :class="{ 'is-invalid': form.errors.has('number_of_pices') }">
                        <has-error :form="form" field="number_of_pices"></has-error>
                        </div>
                        </div>
                      </div>
                     

                        <div class="form-group">
                          <label style="text-transform:uppercase">Description</label>
                            <textarea v-model="form.description" name="description"
                              placeholder="Short description for book  (Optional)"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                        <has-error :form="form" field="description"></has-error>
                        </div>
                      
                    </div>
                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                    </div>
                     </form>
                  </div>
                </div>
              </div>
    </div>

</template>

<script>
    export default {
      data() {
        return {
          editmode: false,
           books:{},
              form: new Form({
                id:'',
                category_id :'',
                sub_category_id :'',
                name :'',
                author_name :'',
                 publication_name :'',
                  published_date  :'',
                   price :'',
                    currency :'',
                     number_of_pices :'',
                      description :'',
          }),
          categories:[],
          subCategories:[],
        }
      },
      methods:{
  getResults(page = 1) {
          axios.get('api/books?page=' + page)
            .then(response => {
              this.books = response.data;
            });
        },
        updateBook(){
          this.$Progress.start();
          this.form.put('api/books/'+this.form.id).then(()=>{
            $('#addnew').modal('hide');
                    Swal.fire(
                        'Update!',
                        'Information has been Updated.',
                        'success'
                            );
                  this.$Progress.finish();
                  Fire.$emit('AfterCreated');
          })
          .catch(()=>{
            this.$Progress.fail();
          });
        },
        editModel(book){
         this.editmode = true;
          this.form.reset();
          $('#addnew').modal('show');
          this.form.fill(book);
        },
        newModel(){
         this.editmode = false;
          this.form.reset();
          $('#addnew').modal('show');
        },
    deleteBook(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                  }).then((result) => {
                    //Send Delete Request to Server 
                    if (result.value) {
                            this.form.delete('/api/books/'+ id).then(()=>{
                                      Swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                      );
                                      Fire.$emit('AfterCreated');
                            }).catch(()=>{
                              swal("Failed!","This was somthing Wrong");
                            })
                    }
                        })
                  
        },
        book(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/books").then(({ data }) => (this.books = data));
          } 
        },
        bookCategory(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/book/categories").then(({ data }) => (this.categories = data));
          } 
        },
        bookSubCategory(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/book/subcategories").then(({ data }) => (this.subCategories = data));
          } 
        },
          createBook(){
            //Progress Bar Start
            this.$Progress.start();
            this.form.post('/api/books/')
            .then(()=>{
            //Create data  Referece Function 

            Fire.$emit('AfterCreated');
            //Close Model 
              $('#addnew').modal('hide');
            //Successfully Message 
            Toast.fire({
              icon: 'success',
              title: 'Insert Book Category successfully'
            })
            //Progress Bar End
            this.$Progress.finish();
            })
            .catch(()=>{

            })


          }
      },
        created() {
          Fire.$on('searching',()=>{
            let query=this.$parent.search;
            axios.get('api/findUser?q=' +query)
            .then(()=>{
              this.categories=data.data;
            })
            .catch(()=>{

            })

          })
            this.book();
             this.bookCategory();
             this.bookSubCategory()
            //Data referece Function
            Fire.$on('AfterCreated',() =>{
              this.book();
              this.bookCategory();
              this.bookSubCategory();
            });
            //Load data every 3 second function
            // setInterval(() => this.loadUser(),3000);
        }
    }
</script>
