<template>
    <div class="container">
        <div class="row justify-content-center" v-if="$gate.isAdminOrAuthor()">
           <div class="col-12" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Student List</h3>
              </div>
              <!-- /.card-header -->
              <div  class="card-body table-responsive p-0">
                <table class="table table-bordered data-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="bookreturn in bookreturns.data" :key="bookreturn.id"> 
                      <td>{{bookreturn.id}}</td>
                       <td>{{bookreturn.user_information.name}}</td>
                        <td>{{bookreturn.user_information.email}}</td>
                      <td>
                        <a  @click="renewMode(bookreturn.id)" class="btn btn-success">
                            Return 
                        </a>
                        <a  @click="returnMode(bookreturn.id)" class="btn btn-primary">
                            Renew
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="cart-footer">
                <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
   <!-- Modal -->
              <div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="addnewlabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" v-show="!renewMode" id="addnewlabel">Return Books</h5>
                       <h5 class="modal-title" v-show="renewMode" id="addnewlabel">Renew Books</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                      <form @submit.prevent="renewMode ? returnBook(): renewBook()">

                    <div class="modal-body">
                        <div class="form-group">
                          <label style="text-transform:uppercase">Category Name</label>
                            <input v-model="form.category_name" type="text" name="category_name"
                            placeholder="Enter a book category Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('category_name') }">
                        <has-error :form="form" field="category_name"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Description</label>
                            <textarea v-model="form.description" name="description"
                              placeholder="Short description for book category (Optional)"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                        <has-error :form="form" field="description"></has-error>
                        </div>
                        <div class="form-group"  v-show="renewMode" >
                          <label style="text-transform:uppercase">Next Return Data</label>
                            <input v-model="form.description" name="description" type="Date"
                              placeholder="Short description for book category (Optional)"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                        <has-error :form="form" field="description"></has-error>
                        </div>
                      
                    </div>

                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <button v-show="renewMode" type="submit" class="btn btn-success">Renew</button>
                    <button v-show="!renewMode" type="submit" class="btn btn-primary">Return</button>
                    </div>
                     </form>
                  </div>
                </div>
              </div>
    </div>

</template>
<script>
    export default {
      data() {
        return {
          editmode: false,
           users:{},
              form: new Form({
                id:'',
                name :'',
                email :'',
          }),
          bookreturns:[],
        }
      },
      methods:{
      getResults(page = 1) {
          axios.get('api/user?page=' + page)
            .then(response => {
              this.users = response.data;
            });
        },
        updateStudentBook(){
          this.$Progress.start();
          this.form.put('api/studentbooks/'+this.form.id).then(()=>{
            $('#addnew').modal('hide');
                    Swal.fire(
                        'Update!',
                        'Information has been Updated.',
                        'success'
                            );
                  this.$Progress.finish();
                  Fire.$emit('AfterCreated');
          })
          
          .catch(()=>{
            this.$Progress.fail();
          });
        },
      returnBook(){
          this.$Progress.start();
          this.form.put('api/bookreturns/'+this.form.id).then(()=>{
            $('#addnew').modal('hide');
                    Swal.fire(
                        'Return!',
                        'Book has been Return.',
                        'success'
                            );
                  this.$Progress.finish();
                  Fire.$emit('AfterCreated');
          })
          
          .catch(()=>{
            this.$Progress.fail();
          });
        },
      renewBook(){
          this.$Progress.start();
          this.form.put('api/bookreturns/'+this.form.id).then(()=>{
            $('#addnew').modal('hide');
                    Swal.fire(
                        'Renew!',
                        'Book has been Renew.',
                        'success'
                            );
                  this.$Progress.finish();
                  Fire.$emit('AfterCreated');
          })
          
          .catch(()=>{
            this.$Progress.fail();
          });
        },
        renewMode(bookreturn){
         this.editmode = true;
          this.form.reset();
          $('#addnew').modal('show');
          this.form.fill(bookreturn);
        },
        returnMode(bookreturn){
         this.editmode = false;
          this.form.reset();
          $('#addnew').modal('show');
          this.form.fill(bookreturn);
        },
        studentbooks(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/bookreturns").then(({ data }) => (this.bookreturns = data));
          } 
        },
          createStudentBook(){
            //Progress Bar Start
            this.$Progress.start();
            this.form.post('/api/studentbooks')
            .then(()=>{
              //Create data  Referece Function 

            Fire.$emit('AfterCreated');
            //Close Model 
              $('#addnew').modal('hide');
            //Successfully Message 
            Toast.fire({
              icon: 'success',
              title: 'Insert User successfully'
            })
            //Progress Bar End
            this.$Progress.finish();
            })
            .catch(()=>{

            })
          }
      },
        created() {
          Fire.$on('searching',()=>{
            let query=this.$parent.search;
            axios.get('api/findUser?q=' +query)
            .then(()=>{
              this.users=data.data;
            })
            .catch(()=>{

            })

          })
            this.studentbooks();

            //Data referece Function
            Fire.$on('AfterCreated',() =>{
              this.studentbooks();
            });
            //Load data every 3 second function
            // setInterval(() => this.loadUser(),3000);
        }
    }
</script>
