<template>
    <div class="container">
        <div class="row justify-content-center" v-if="$gate.isAdminOrAuthor()">
           <div class="col-12" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Book Sub Category Lists</h3>
                <div class="cart-tools" align="right">
                  <button class="btn btn-success" @click="newModel"> Add New Book Sub Category  <i class="fas fa-user-plus" fa-fw></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div  class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Book Sub Category Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="subCategory in subCategories.data" :key="subCategory.id"> 
                      <td>{{subCategory.id}}</td>
                      <td>{{subCategory.name | upText}}</td>
                      <td>
                        <a  @click="editModel(subCategory)">
                          <i class="fa fa-edit blue"  style="font-size:20px; color:#20ab70"></i>
                        </a>
                        
                        <a  @click="deleteBookSubCategory(subCategory.id)">
                          <i class="fa fa-trash red" style="font-size:20px; color:#ab202f"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="cart-footer">
                <pagination :data="subCategories" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
    <!-- Modal -->
              <div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="addnewlabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" v-show="!editmode" id="addnewlabel">Add New Book Sub Category</h5>
                       <h5 class="modal-title" v-show="editmode" id="addnewlabel">Update Book Sub Category</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                      <form @submit.prevent="editmode ? updateBookSubCategory(): createBookSubCategory()">

                    <div class="modal-body">
                      <div class="form-group">
                          <label style="text-transform:uppercase">Category Name</label>
                            <select class="form-control" v-model="form.category_id" name="category_id">
                              <option disabled :selected="true">--Select Category--</option>
                              <option v-for="category in categories.data" :key="category.id" :value="category.id">{{ category.category_name }}</option>
                            </select>
                        <has-error :form="form" field="category_id"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase"> Sub Category Name</label>
                            <input v-model="form.name" type="text" name="name"
                            placeholder="Enter a book Sub category Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Description</label>
                            <textarea v-model="form.description" name="description"
                              placeholder="Short description for book Sub category (Optional)"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                        <has-error :form="form" field="description"></has-error>
                        </div>
                      
                    </div>
                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                    </div>
                     </form>
                  </div>
                </div>
              </div>
    </div>

</template>

<script>
    export default {
      data() {
        return {
          editmode: false,
           subCategories:{},
              form: new Form({
                id:'',
                name :'',
                description :'',
                status :'',
                category_id:'',
          }),
          categories:[],
        }
      },
      methods:{

          getResults(page = 1) {
                  axios.get('api/book/subcategories?page=' + page)
                    .then(response => {
                      this.categories = response.data;
                    });
                },
        updateBookSubCategory(){
          this.$Progress.start();
          this.form.put('api/book/subcategories/'+this.form.id).then(()=>{
            $('#addnew').modal('hide');
                    Swal.fire(
                        'Update!',
                        'Information has been Updated.',
                        'success'
                            );
                  this.$Progress.finish();
                  Fire.$emit('AfterCreated');
          })
          .catch(()=>{
            this.$Progress.fail();
          });
        },
        editModel(category){
         this.editmode = true;
          this.form.reset();
          $('#addnew').modal('show');
          this.form.fill(category);
        },
        newModel(){
         this.editmode = false;
          this.form.reset();
          $('#addnew').modal('show');
        },
    deleteBookSubCategory(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                  }).then((result) => {
                    //Send Delete Request to Server 
                    if (result.value) {
                            this.form.delete('/api/book/subcategories/'+ id).then(()=>{
                                      Swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                      );
                                      Fire.$emit('AfterCreated');
                            }).catch(()=>{
                              swal("Failed!","This was somthing Wrong");
                            })
                    }
                        })
                  
        },
        bookSubCategory(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/book/subcategories").then(({ data }) => (this.subCategories = data));
          } 
        },
        bookCategory(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/book/categories").then(({ data }) => (this.categories = data));
          } 
        },
          createBookSubCategory(){
            //Progress Bar Start
            this.$Progress.start();
            this.form.post('/api/book/subcategories')
            .then(()=>{
            //Create data  Referece Function 

            Fire.$emit('AfterCreated');
            //Close Model 
              $('#addnew').modal('hide');
            //Successfully Message 
            Toast.fire({
              icon: 'success',
              title: 'Insert Book Category successfully'
            })
            //Progress Bar End
            this.$Progress.finish();
            })
            .catch(()=>{

            })
          }
      },
        created() {
          Fire.$on('searching',()=>{
            let query=this.$parent.search;
            axios.get('api/findUser?q=' +query)
            .then(()=>{
              this.categories=data.data;
            })
            .catch(()=>{
            })
          })
            this.bookSubCategory();
            //Data referece Function
            Fire.$on('AfterCreated',() =>{
              this.bookSubCategory();
            });
             this.bookCategory();
            //Data referece Function
            Fire.$on('AfterCreated',() =>{
              this.bookCategory();
            });
            //Load data every 3 second function
            // setInterval(() => this.loadUser(),3000);
        }
    }
</script>
