<template>
    <div class="container">
        <div class="row justify-content-center" v-if="$gate.isAdminOrAuthor()">
           <div class="col-12" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User List</h3>
                <div class="cart-tools" align="right">
                  <button class="btn btn-success" @click="newModel"> All Issed Book List <i class="fas fa-user-plus" fa-fw></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div  class="card-body table-responsive p-0">
                <table class="table table-bordered data-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="user in users.data" :key="user.id"> 
                      <td>{{user.id}}</td>
                      <td>{{user.name | upText}}</td>
                      <td>{{user.email}}</td>
                      <td>
                        <button  @click="editModel(user)" class="btn btn-success">
                            Issue Book
                        </button>
                        <button  @click="showDetails" class="btn btn-info">
                            View Details
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="cart-footer">
                <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
    <!-- Modal -->
              <div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="addnewlabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title" v-show="editmode" id="addnewlabel">Book Isseu</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                      <form @submit.prevent="editmode ? updateStudentBook(): createStudentBook()">

                    <div class="modal-body">
                      <div class="form-group">
                          <label style="text-transform:uppercase"> Category</label>
                           <select class="form-control" v-model="form.category_id" name="category_id">
                              <option disabled :selected="true">--Select Category--</option>
                              <option v-for="category in categories.data" :key="category.id" :value="category.id">{{ category.category_name }}</option>
                            </select>
                        <has-error :form="form" field="sub_category_id"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Sub Category</label>
                             <select class="form-control" v-model="form.sub_category_id" name="sub_category_id">
                              <option disabled :selected="true">--Select Sub Category--</option>
                              <option v-for="subCategory in subCategories.data" :key="subCategory.id" :value="subCategory.id">{{ subCategory.name }}</option>
                            </select>
                        <has-error :form="form" field="sub_category_id"></has-error>
                        </div>
                     <div class="form-group">
                          <label style="text-transform:uppercase">Book</label>
                             <select class="form-control" v-model="form.book_id" name="book_id">
                              <option disabled :selected="true">--Select Book--</option>
                              <option v-for="book in books.data" :key="book.id" :value="book.id">{{ book.name }}</option>
                            </select>
                        <has-error :form="form" field="book_id"></has-error>
                        </div>
                      <div class="form-group">
                          <label style="text-transform:uppercase">Return Date</label>
                            <input v-model="form.return_date" type="date" name="published_date"
                            placeholder="Enter a Published Date"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('return_date') }">
                        <has-error :form="form" field="return_date"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Issue Book</button>
                    </div>
                     </form>
                  </div>
                </div>
              </div>

        <!-- Modal -->
              <div class="modal fade" id="showDetails" tabindex="-1" role="dialog" aria-labelledby="addnewlabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title"  id="addnewlabel">Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Book Name</th>
                                <th>Return Data</th>
                                <th>status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="studentbook in studentbooks.data" :key="studentbook.id">
                                <td>{{ studentbook.book.name }}</td>
                                <td>{{ studentbook.return_date }}</td>
                                <td>Expire</td>
                              </tr>
                            </tbody>
                        </table>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
    </div>
    </div>

</template>
<script>
    export default {
      data() {
        return {
          editmode: false,
           users:{},
              form: new Form({
                id:'',
                name :'',
                email :'',
          }),
          categories:[],
          subCategories:[],
          books:[],
          studentbooks:[],
        }
      },
      methods:{
        book(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/books").then(({ data }) => (this.books = data));
          } 
        },
        bookCategory(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/book/categories").then(({ data }) => (this.categories = data));
          } 
        },
        bookSubCategory(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/book/subcategories").then(({ data }) => (this.subCategories = data));
          } 
        },
        studentbook(){
          if(this.$gate.isAdminOrAuthor()){
            axios.get("api/studentbooks").then(({ data }) => (this.studentbooks = data));
          } 
        },
      getResults(page = 1) {
          axios.get('api/user?page=' + page)
            .then(response => {
              this.users = response.data;
            });
        },
        updateStudentBook(){
          this.$Progress.start();
          this.form.put('api/studentbooks/'+this.form.id).then(()=>{
            $('#addnew').modal('hide');
                    Swal.fire(
                        'Update!',
                        'Information has been Updated.',
                        'success'
                            );
                  this.$Progress.finish();
                  Fire.$emit('AfterCreated');
          })
          .catch(()=>{
            this.$Progress.fail();
          });
        },
        editModel(user){
         this.editmode = true;
          this.form.reset();
          $('#addnew').modal('show');
          this.form.fill(user);
        },
        newModel(){
         this.editmode = false;
          this.form.reset();
          $('#addnew').modal('show');
        },
        showDetails(){
          $('#showDetails').modal('show');
        },
        loadUser(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/user").then(({ data }) => (this.users = data));
          } 
        },
          createStudentBook(){
            //Progress Bar Start
            this.$Progress.start();
            this.form.post('/api/studentbooks')
            .then(()=>{
              //Create data  Referece Function 

            Fire.$emit('AfterCreated');
            //Close Model 
              $('#addnew').modal('hide');
            //Successfully Message 
            Toast.fire({
              icon: 'success',
              title: 'Insert User successfully'
            })
            //Progress Bar End
            this.$Progress.finish();
            })
            .catch(()=>{

            })


          }
      },
        created() {
          Fire.$on('searching',()=>{
            let query=this.$parent.search;
            axios.get('api/findUser?q=' +query)
            .then(()=>{
              this.users=data.data;
            })
            .catch(()=>{

            })

          })
            this.loadUser();
            this.bookCategory();
            this.bookSubCategory();
            this.book();
            this.studentbook();

            //Data referece Function
            Fire.$on('AfterCreated',() =>{
              this.loadUser();
              this.book();
              this.bookCategory();
              this.bookSubCategory();
              this.studentbook();
            });
            //Load data every 3 second function
            // setInterval(() => this.loadUser(),3000);
        }
    }
</script>
