<template>
    <div class="container">
        <div class="row justify-content-center" v-if="$gate.isAdminOrAuthor()">
           <div class="col-12" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User List</h3>
                <div class="cart-tools" align="right">
                  <button class="btn btn-success" @click="newModel"> Add New User <i class="fas fa-user-plus" fa-fw></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div  class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Bio</th>
                      <th>Type</th>
                      <th>Join Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="user in users.data" :key="user.id"> 
                      <td>{{user.id}}</td>
                      <td>{{user.name | upText}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.bio}}</td>
                      <td>{{user.type | upText}}</td>
                      <td>{{user.created_at | myDate}}</td>
                      <td>
                        <a  @click="editModel(user)">
                          <i class="fa fa-edit blue"  style="font-size:20px; color:#20ab70"></i>
                        </a>
                        
                        <a  @click="deleteUser(user.id)">
                          <i class="fa fa-trash red" style="font-size:20px; color:#ab202f"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="cart-footer">
                <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
    <!-- Modal -->
              <div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="addnewlabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" v-show="!editmode" id="addnewlabel">Add New User</h5>
                       <h5 class="modal-title" v-show="editmode" id="addnewlabel">Update User</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                      <form @submit.prevent="editmode ? updateUser(): createUser()">

                    <div class="modal-body">
                        <div class="form-group">
                          <label style="text-transform:uppercase">Name</label>
                            <input v-model="form.name" type="text" name="name"
                            placeholder="Enter a Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Email</label>
                            <input v-model="form.email" type="email" name="email"
                            placeholder="Enter a Email"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Password</label>
                            <input v-model="form.password" type="password" name="password" id="password"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Type</label>
                            <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                            <option value="">Select User Role</option>
                            <option value="admin">Admin</option>
                            <option value="user">Standard User</option>
                            <option value="author">Author</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                        </div>
                        <div class="form-group">
                          <label style="text-transform:uppercase">Bio</label>
                            <textarea v-model="form.bio" name="bio"
                              placeholder="Short bio for user (Optional)"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                        <has-error :form="form" field="bio"></has-error>
                        </div>
                      
                    </div>
                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                    </div>
                     </form>
                  </div>
                </div>
              </div>
    </div>

</template>

<script>
    export default {
      data() {
        return {
          editmode: false,
           users:{},
              form: new Form({
                id:'',
                name :'',
                email :'',
                password :'',
                type :'',
                bio :'',
                photo :''
          })
        }
      },
      methods:{
  getResults(page = 1) {
          axios.get('api/user?page=' + page)
            .then(response => {
              this.users = response.data;
            });
        },
        updateUser(){
          this.$Progress.start();
          this.form.put('api/user/'+this.form.id).then(()=>{
            $('#addnew').modal('hide');
                    Swal.fire(
                        'Update!',
                        'Information has been Updated.',
                        'success'
                            );
                  this.$Progress.finish();
                  Fire.$emit('AfterCreated');
          })
          .catch(()=>{
            this.$Progress.fail();
          });
        },
        editModel(user){
         this.editmode = true;
          this.form.reset();
          $('#addnew').modal('show');
          this.form.fill(user);
        },
        newModel(){
         this.editmode = false;
          this.form.reset();
          $('#addnew').modal('show');
        },
        deleteUser(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                  }).then((result) => {
                    //Send Delete Request to Server 
                    if (result.value) {
                            this.form.delete('/api/user/'+ id).then(()=>{
                                      Swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                      );
                                      Fire.$emit('AfterCreated');
                            }).catch(()=>{
                              swal("Failed!","This was somthing Wrong");
                            })
                    }
                        })
                  
        },
        loadUser(){
          if(this.$gate.isAdminOrAuthor()){
          axios.get("api/user").then(({ data }) => (this.users = data));
          } 
        },
          createUser(){
            //Progress Bar Start
            this.$Progress.start();
            this.form.post('/api/user')
            .then(()=>{
              //Create data  Referece Function 

            Fire.$emit('AfterCreated');
            //Close Model 
              $('#addnew').modal('hide');
            //Successfully Message 
            Toast.fire({
              icon: 'success',
              title: 'Insert User successfully'
            })
            //Progress Bar End
            this.$Progress.finish();
            })
            .catch(()=>{

            })


          }
      },
        created() {
          Fire.$on('searching',()=>{
            let query=this.$parent.search;
            axios.get('api/findUser?q=' +query)
            .then(()=>{
              this.users=data.data;
            })
            .catch(()=>{

            })

          })
            this.loadUser();
            //Data referece Function
            Fire.$on('AfterCreated',() =>{
              this.loadUser();
            });
            //Load data every 3 second function
            // setInterval(() => this.loadUser(),3000);
        }
    }
</script>
